<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="my-alta-clientes">
  <template>
    <!-- Bootstrap CSS lin-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="container">
      <div class="row">
        <label class="label-info">Alta de Cliente</label>
      </div>
      <div class="row">
       <label class="label-info">IDCliente:</label>
      </div>
      <div class="row">
        <input type="text" name="idcliente" value="{{idcliente::input}}">
      </div>
      <div class="row">
        <label class="label-info">IDCuenta:</label>
      </div>
      <div class="row">
        <input type="text" name="idcuenta" value="{{idcuenta::input}}">
      </div>
      <div class="row">
        <label class="label-info">Nombre:</label>
      </div>
      <div class="row">
        <input type="text" name="nombre" value="{{nombre::input}}">
      </div>
      <div class="row">
        <label class="label-info">Apellido:</label>
      </div>
      <div class="row">
        <input type="text" name="apellido" value="{{apellido::input}}">
      </div>
      <div class="row">
        <label class="label-info">Cuenta:</label>
      </div>
      <div class="row">
        <input type="text" name="cuenta" value="{{cuenta::input}}">
      </div>
      <div class="row">
        <label class="label-info">Fecha:</label>
      </div>
      <div class="row">
        <input type="text" name="fecha" value="{{fecha::input}}">
      </div>
      <div class="row">
        <label class="label-info">Importe:</label>
      </div>
      <div class="row">
        <input type="text" name="importe" value="{{importe::input}}">
      </div>
      <div class="row">
        <label class="label-info">Categoria:</label>
      </div>
      <div class="row">
        <input type="text" name="categoria" value="{{categoria::input}}">
      </div>
        <button class="btn btn-danger" on-click="altaCliente">Alta Clientes</button>
      </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaCliente extends Polymer.Element {
      static get is() { return 'my-alta-clientes'; }
      static get properties() {
        return {
          idcliente: {
             type:Number
         }
         ,
         idcuenta: {
             type:Number
         }
         ,
         nombre: {
             type:String
         }
         ,
         apellido: {
             type:String
         }
         ,
         cuenta:{
             type: String
         }
         ,
         fecha: {
             type:Date
         }
         ,
         importe:{
             type: Number
         }
         ,
         categoria:{
             type: String
         }
       };
      }

      altaCliente(){
        var request = new XMLHttpRequest();
        //pos para aceptar integrar datos
        request.open("POST","http://localhost:3000/v1/Clientes",false);

        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");

        var nuevoCliente = {"idcliente":this.idcliente,"idcuenta":this.idcuenta,"nombre":this.nombre,"apellido":this.apellido, "cuenta": this.cuenta, "fecha":this.fecha,"importe": this.importe, "categoria":this.categoria};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);

        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }
        window.customElements.define(AltaCliente.is, AltaCliente);
      </script>
    </dom-module>
