<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="my-consulta-cuentas">
  <template>
    <!-- Bootstrap CSS lin-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      </style>
      <div class="container">
        <div class="row">
          <label class="label-info">Consulta de Cuentas</label>
        </div>

        <div class="row">
          <button class="btn btn-success" on-click="obtenerCuenta">Obtener Cuentas</button>
        </div>

        <div class="row">
          <table class="table table-striped">
            <tbody>
              <template is="dom-repeat" items ="{{cuentas}}">
                <tr>
                  <td>
                    [[item.idcliente]]
                  </td>
                  <td>
                    [[item.idcuenta]]
                  </td>
                  <td>
                    [[item.cuenta]]
                  </td>
                </tr>

              </template>
            </tbody>
          </table>
        </div>
     </div>
    </template>
    <script>
      /**
       * @customElement
       * @polymer el nombre de la clasees como el nombre del componente
       y sin guion y mayusculas y minisculas, con el IS regresa el metodo
       del polymer
       */
      class ConsultaCuenta extends Polymer.Element {
        static get is() { return 'my-consulta-cuentas'; }
        static get properties() {
          return {
            cuentas: {
              type: Array,
              notify: true
            }
          };
        }

    obtenerCuenta(){
      var request = new XMLHttpRequest();
      //Get consulta datos
      request.open("GET","http://localhost:3000/v1/Cuentas",false);

      request.setRequestHeader("Accept","application/json");
      request.send();

      this.cuentas = JSON.parse(request.responseText);
      //console.table(this.Cuenta);
    }
  }
      window.customElements.define(ConsultaCuenta.is, ConsultaCuenta);
    </script>
  </dom-module>
