<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="my-consulta-clientes-extranjeros">
  <template>
    <!-- Bootstrap CSS lin-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      </style>
   <div class="container">
     <div class="row">
       <label class="label-info">Consulta de Clientes Extranjeros</label>
     </div>
     <div class="row">
       <button class="btn btn-success" on-click="obtenerClientes">Obtener Clientes</button>
     </div>
     <div class="row">
       <table class="table table-striped">
         <tbody>
           <template is="dom-repeat" items ="{{clientes}}">
             <tr>
               <td>
                 [[item.CustomerID]]
               </td>
               <td>
                 [[item.ContactName]]
               </td>
               <td>
                 [[item.ContractTitle]]
               </td>
               <td>
                 [[item.Address]]
               </td>
               <td>
                 [[item.City]]
               </td>
               <td>
                 [[item.Country]]
               </td>
             </tr>
           </template>
         </tbody>
       </table>
     </div>
  </div>
 </template>
 <script>
   /**
    * @customElement
    * @polymer el nombre de la clasees como el nombre del componente
    y sin guion y mayusculas y minisculas, con el IS regresa el metodo
    del polymer
    */
   class ConsultaClientesExtranjeros extends Polymer.Element {
     static get is() { return 'my-consulta-clientes-extranjeros'; }
     static get properties() {
       return {
         clientes: {
           type: Array,
           notify: true
         }
       };
     }

   obtenerClientes() {
            var request = new XMLHttpRequest();
            var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
            request.open("GET",url,false);
            request.setRequestHeader("Accept","application/json");
            request.send();
            this.clientes = JSON.parse(request.responseText).value;
            //console.table(JSON.parse(request.responseText).value);
            //console.table(this.clientes);
  }
}
   window.customElements.define(ConsultaClientesExtranjeros.is, ConsultaClientesExtranjeros);
 </script>
</dom-module>
